.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
  gap: 10px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  overflow-y: auto;
}

.login,
.register,
.settings,
.password,
.profile {
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  padding: 2rem 3rem;
  /* box-shadow: 0 2px 20px lightgrey; */
}

.dashboard {
  width: 98vw;
  height: 95vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  border: none;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .user-name {
  background-color: #eee;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  font-size: small;
  border-radius: 7px;
}

.header .update-user-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.header .user-settings {
  font-size: small;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  min-width: 160px;
  z-index: 1;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  gap: 15px;
  width: 37%;
}

.filter div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.filter .filter-field {
  font-size: small;
  width: 20%;
  background-color: #eee;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 7px;
}

.filter .filter-result {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
}

.filter .filter-result > span {
  word-spacing: 0.25rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter .filter-result > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  padding: 0.6rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 5px;
  height: 95%;
  border: 1px solid #ddd;
  border-radius: 7px;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #eee;
  border-radius: 7px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
.result:hover {
  background-color: #ddd;
}

.empty {
  color: #555;
  border: 1px dashed #ccc;
  border-radius: 7px;
  height: 100%;
  padding: 1rem;
  justify-content: flex-start;
  box-sizing: border-box;
}

.large-button {
  width: 300px;
  height: 35px;
  padding: 0.75rem 1.5rem;
}

.medium-button {
  font-size: 12px;
  width: 100px;
  height: 30px;
  padding: 0.5rem 1rem;
}

.small-button {
  font-size: 11px;
  width: 100px;
  padding: 0.25rem 0.75rem;
}

.small-button:hover,
.medium-button:hover {
  background-color: #ddd;
}

.danger:hover {
  background: linear-gradient(to bottom, #fee, #fcc, #fee);
}

.user-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.spinner-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem;
  gap: 1rem;
  z-index: 1000;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 20px lightgrey;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-top: 1px solid #000;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
