* {
  margin: 0;
}

input[type="text"],
input[type="password"],
select,
button {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  width: 300px;
  height: 35px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background: linear-gradient(to bottom, #eee, #ddd, #eee);
}
button:hover {
  background: linear-gradient(to bottom, #ddd, #ccc, #ddd);
  cursor: pointer;
}
button:disabled {
  background: linear-gradient(to bottom, #eee, #ddd, #eee);
}
label:hover {
  cursor: pointer;
}

select {
  padding: 5px 7px;
}

input[type="text"]:disabled,
input[type="password"]:disabled,
select:disabled,
button:disabled {
  background-color: #eee;
  color: #999;
  cursor: not-allowed;
}
